@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Raleway:400,700,400italic,700italic);
/********************About Us***************************/
#header-a{
	text-decoration: none;
	color: #eee;
}

#main-header{
	width: 100%;
	height: 15vh;
	background: linear-gradient(to bottom, rgba(0,0,0,.8), rgba(0,0,0,.5)), url("https://images.unsplash.com/photo-1523374228107-6e44bd2b524e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80") center no-repeat;
	background-size: cover;
	position: relative;
  overflow: hidden;
}
.head-container{
	max-width: 120rem;
	width: 100%;
	margin: 0 auto;
}


.menu-toggle{
	position: fixed;
	top: 2.5rem;
	right: 2.5rem;
	color: #eeeeee;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1000;
	display: none;
}

.head-nav{
	padding-top: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-size: 1rem;
}

.brand{
	font-size: 3rem;
	font-weight: 300;
	transform: translateX(-100rem);
	animation: slideIn .5s forwards;
}

.brand span{
	color: crimson;
}

.head-nav .head-ul{
	display: flex;
}

.head-nav .head-ul #header-li{
	list-style: none;
	transform: translateX(100rem);
	animation: slideIn .5s forwards;
}

.head-nav .head-ul #header-li:nth-child(1){
	animation-delay: 0s;
}

.head-nav .head-ul #header-li:nth-child(2){
	animation-delay: .5s;
}

.head-nav .head-ul #header-li:nth-child(3){
	animation-delay: 1s;
}

.head-nav .head-ul #header-li:nth-child(4){
	animation-delay: 1.5s;
}

.head-nav .head-ul #header-li #header-a{
	padding: 1rem 0;
	margin: 0 3rem;
	position: relative;
	letter-spacing: 2px;
}

.head-nav .head-ul #header-li #header-a:last-child{
	margin-right: 0;
}

.head-nav .head-ul #header-li #header-a::before,
.head-nav .head-ul #header-li #header-a::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: crimson;
	left: 0;
	transform: scaleX(0);
	transition: all .5s;
}

.head-nav .head-ul #header-li #header-a::before{
	top: 0;
	transform-origin: left;
}

.head-nav .head-ul #header-li #header-a::after{
	bottom: 0;
	transform-origin: right;
}

.overlay{
	background-color: rgba(0,0,0,.95);
	position: fixed;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
	transition: opacity 650ms;
	transform: scale(0);
	opacity: 0;
  display: none;
}

.head-nav .head-ul #header-li #header-a:hover::before,
.head-nav .head-ul #header-li #header-a:hover::after{
	transform: scaleX(1);
}

@keyframes slideIn {
	from{

	}
	to{
		transform: translateX(0);
	}
}

@media screen and (max-width: 700px){

	.menu-toggle{
		display: block;
	}

	.head-nav{
		padding-top: 0;
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		height: 100vh;
		text-align: center;
	}

	.head-nav .head-ul{
		flex-direction: column;
	}

	.head-nav .head-ul #header-li{
		margin-top: 5rem;
	}

	.head-nav .head-ul #header-li #header-a{
		margin: 0;
		font-size: 2.5rem;
	}

	.brand{
		font-size: 5rem;
	}
  
  .overlay.menu-open,
  .head-nav.menu-open{
	  display: flex;
	  transform: scale(1);
	  opacity: 1;
  }
  
}





body{
    background-color:#373737;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    position:relative;
 }
 nav{
    width:100%;
    height:100px;
    background-color:rgba(51, 51, 51, 0.3);
    position:absolute;
    top:0;
    z-index:5;
 }
 .header{
    width:100%;
    height:500px;
    opacity:.8;
    background-color:rgb(30, 173, 255);
    background-image:url('https://res.cloudinary.com/arpr/image/upload/v1541394028/architecture-building-campus-207684.jpg');
    background-size:cover;
    background-position:bottom;
 }
 .container{
    width:100%;
 }
 .container h1{
    font-size:50px
 }
 .about{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .about .left{
    padding:2% 0;
    float:left;
    width:50%;
    display:inline-block;
 }
 .about .right{
    width:50%;
    display:inline-block;
 }
 .about .right img{
    width:100%
 }
 .about .left h1{
    text-align:center;
    color:#1EADFF;
    margin:0 0 10px 0;
 }
 .about .left hr{
    width:20%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .about .left p{
    font-size:1rem;
    margin:40px auto;
    width:80%
 }
 
 .mission{
    padding:5% 0;
    width:100%;
    height:auto;
    background-color:#fff;
 }
 .mission .right{
    padding:2% 0;
    width:50%;
 
    display:inline-block;
 }
 .mission .left{
    float:left;
    width:50%;
 
    display:inline-block;
 }
 .mission .left img{
    width:100%;
 }
 .mission .right h1{
    text-align:center;
    color:#1EADFF;
    margin:0 0 20px 0;
 }
 .mission .right hr{
    width:35%;
    border-top:2px solid #000;
    border-bottom:none;
 }
 .mission .right p{
    font-size:1rem;
    margin:40px auto;
    width:80%
 }
 /* media */
 @media(max-width:1200px){
    .mission .right p{
       font-size:.8rem;
       margin:20px auto;
    }
    .about .left p{
       font-size:.8rem;
       margin:20px auto;
    }
 }
 @media(max-width:1000px){
    .about .left{
    width:100%; 
 }
    .about .right{
    width:100%; 
 }
       .mission .left{
    width:100%; 
 }
    .mission .right{
    width:100%; 
 }
    .team .card{ 
    width:40%;
 }   
 }
 
 @media(max-width:1000px){
       .team .card{ 
    width:100%;
 } 
    nav{
       height:80px;
    }
 }
 

/***********Rreth nesh************/
figure.snip0053 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 100px;
  min-width: 220px;
  max-width: 310px;
  width: 50%;
  background: #ffffff;
  color: #000000;
  float:right;
  margin-right:130px;
}

figure.snip0053 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip0053 > img {
  width: 100%;
}

figure.snip0053 figcaption {
  padding: 20px 30px 20px 25%;
  position: relative;
}

figure.snip0053 figcaption h2,
figure.snip0053 figcaption p {
  margin: 0;
  text-align: right;
  padding: 10px 0;
  right: 0;
  width: 100%;
}

figure.snip0053 figcaption h2 {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

figure.snip0053 figcaption h2 span {
  font-weight: 800;
}

figure.snip0053 figcaption p {
  font-size: 0.9em;
  opacity: 0.8;
}

figure.snip0053 figcaption .icons {
  width: 100%;
  text-align: right;
}

figure.snip0053 figcaption .icons i {
  font-size: 26px;
  padding: 5px;
  top: 50%;
  color: #000000;
}

figure.snip0053 figcaption a {
  opacity: 0.3;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.snip0053 figcaption a:hover {
  opacity: 0.8;
}

figure.snip0053 .position {
  width: 100%;
  text-align: right;
  padding: 8px 30px 13px;
  font-size: 0.8em;
  opacity: 0.8;
  font-style: italic;
}

figure.snip0053:after {
  position: absolute;
  top: 0;
  left: -20%;
  height: 110%;
  width: 30%;
  background-color: #000000;
  content: '';
  border-right: 4px solid #666666;
  -webkit-transform: skewX(-7deg) translateX(0px);
  transform: skewX(-7deg) translateX(0px);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.35s;
  transition: -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

figure.snip0053.blue:after {
  background-color: #1b557a;
  border-right: 4px solid #2472a4;
}

figure.snip0053.yellow:after {
  background-color: #a85913;
  border-right: 4px solid #d67118;
}

figure.snip0053:hover:after,
figure.snip0053.hover:after {
  -webkit-transform: skewX(-7deg) translateX(10px);
  transform: skewX(-7deg) translateX(10px);
}

/* Demo purposes only */
html {
  height: 100%;
}
body {
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

/*----------footer-------------*/
.container {
   width:100%;
}
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#282d32;
    width:100%;
  }
  
  .footer-dark h3 {
    padding-left:5px;
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark #footer-ul {
    padding:0;
    padding-left:5px;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark #footer-ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark #footer-ul a:hover {
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
  .clock {
    font-family: sans-serif;
 }
