
body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    background-image:url(../Pictures/login-bg.jpg);
    background-size:cover;
    background-position: center;
    font-family: sans-serif;
}    
   
.sign-up{
    width:300px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
    background: #fff;
    padding:20px;
    margin: 8% auto 0;
    text-align: center;
}
.sign-up h1{
color: black;
margin-bottom:30px;

}
/*input box veq per "Sign in with Google"*/
.input-box{

    padding:10px;
    margin:10px 0;
    width:100%;
    border:1px solid black;
    outline:none;

}
/**************BUTTONI VEQ PER "SIGN IN WITH GOOGLE"**********************/
button{
    color:white;
    width:100%;
    padding:10px;
    font-size: 15px;
    margin:10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
}
/**********************INPUTI VEQ PER "SIGN UP"*************************************/
.sign-up input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    width:100%;
    background:black;
    color:white;
    font-size:18px;
    border-radius: 20px;
    
}
.sign-up input[type="submit"]:hover
{
cursor: pointer;
background:grey;
transition: 0.3s;

color:black;
}
.signup-btn{
    background-color: black;
}

.google-btn{
    background-color: rgb(64, 117, 197);
}
/*********************DERI KTU INPUTA PER "SIGN UP" DHE "SIGN UP WITH GOOGLE"*******************************/

a {
    text-decoration: none;
    color:black;
}
a:hover{
    transition: 0.3s;
    color:gray;
}
hr{
    margin-top:20px;
    width:80%;
}
.or{
    background: #fff ;
    width:30px;
    margin: -19px auto 10px;
}
img{
    width:70px;
    margin-top:-50px;
}
i{
    float:center;
    margin-right:10px;
}